.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: var(--padding-default);
}

.header-nav-title {
	color: var(--bs-light);
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: var(--padding-default);
	padding-right: var(--padding-default);
}

.header-nav-user {
	color: var(--bs-light);
	margin: auto;
}

.nav-tabs {
	border-bottom: transparent;
}

.nav-tabs .nav-link {
	border-radius: 4px;
}

.nav-link {
	color: var(--bs-light);
	border: transparent;
}

.nav-link:hover {
	color: var(--bs-dark);
	background-color: var(--bs-light);
	border-color: var(--bs-light);
}

.links-left {
	margin-right: auto;
}

.navbar-expanded {
	height: 48px;
}
