.main-content {
	overflow-y: auto;
	max-height: 100%;
	margin-left: 20%;
	margin-right: 20%;
	/* max-width: 800px; */
}

.root-layout {
	position: fixed;
	top: 48px;
	bottom: 0;
	width: 100%;
}

@media (max-width: 576px) {
	.main-content {
		margin-top: 8px;
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media (min-width: 576px) {
	.main-content {
		margin-top: 8px;
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media (min-width: 768px) {
	.main-content {
		margin-top: 8px;
		margin-left: 16px;
		margin-right: 20%;
	}
}

@media (min-width: 992px) {
	.main-content {
		margin-top: 16px;
		margin-left: 20%;
		margin-right: 20%;
	}
}
